<h1>Restaurant List</h1>

<ul>
  <% @restaurants.each do |r| %>
    <li><%=link_to r.name, restaurant_path(r)%></li>
  <% end %>
</ul>

<h4><%=link_to "Make new restaurant", new_restaurant_path %></h4>
